
<h2>Story List</h2>

<ul class="storys">
  <li *ngFor="let p of stories; let i=index;">
    <a routerLink="/story-details/{{p._id.$oid}}">
      <span class="badge">{{i+1}}</span> {{p.title}}
    </a>
    <button class="delete" title="delete story"
      (click)="delete(p._id.$oid)">x</button>

      <button class="upvote" title="upvote story"
      (click)="upvote(p._id.$oid)">Upvote</button>
  </li>
</ul>
