<div>
  <button routerLink="/story">
    Back To Story
  </button>
</div>
<div *ngIf="story" class="storys">
  <h2>{{story.title | uppercase}}</h2>
  <div><span>Description: </span>{{story.desc}}</div>
  <div><span>Upvote: </span>{{story.story_like_count}}</div>
  <div><span>Read: </span>{{story.read_status}}</div>
  <div><span>Created by User ID: </span>{{story.created_by}}</div>
  <div><span>published: </span>{{story.is_published}}</div>
  
</div>